[2019-08-25 20:34] moda20 opened #3 "How to add EaseIN and EaseOut Animations"

[2019-08-26 10:32] iamSahdeep commented on #3
I don't quite understand your concern. You want to add these curves? Where?

[2019-08-26 10:50] moda20 commented on #3
I want to be able to input different type of animations, the water-like animation is not what I really want to do. I want to make the sliding an easeIN normal sliding

[2019-08-27 15:09] iamSahdeep commented on #3
you can do it by replacing [this line](https://github.com/iamSahdeep/liquid_swipe_flutter/blob/master/lib/Animation_Gesture/page_reveal.dart#L24)  with your own custom clip path. Like [wavelayer](https://github.com/iamSahdeep/liquid_swipe_flutter/blob/master/lib/WaveLayer.dart) clip is animating you can create a simple horizontal line as a clipper. (Or you can wait for day or two, i am about to ad

[2019-09-06 08:54] shrutikateiosys opened #4 "how i can top looping"

[2019-09-08 07:13] iamSahdeep commented on #4
Top looping? I don't understand it

[2019-09-11 16:01] erperejildo opened #5 "Fast swiping"
First of all awesome widget. Thanks for it. It goes really smooth but sometimes, I need to go back on my app and start over. This is quite usual and the next swipe will be faster (before the animation for actual page finishes).

When I go a bit faster I face some "flash" with next page and automatically it opens ok.

I'm trying exactly the example you posted here: https://github.com/iamSahdeep/liq

[2019-09-11 16:08] erperejildo opened #6 "Arrow position"
Would be possible to set the position for the arrow?

[2019-09-11 16:33] erperejildo opened #7 "Better with SizedBox"
On your example, if we remove the image taking the full with we won't fill the container. I think it'd be nicer having `SizedBox`:

[code]

I still too new with Flutter so not sure if this is the most optimal solution

[2019-09-11 16:54] erperejildo opened #8 "Carousel inside slides doesn't work"
I use this carousel: https://pub.dev/packages/carousel_slider

It looks like this:
![WhatsApp Image 2019-09-11 at 18 51 15](https://user-images.githubusercontent.com/5629919/64717837-528b0880-d4c5-11e9-8cd6-b8ae86f48fca.jpeg)

If I try to swipe it, it swipes the page. I tried it before on tabs and when I swiped on it, it didn't swipe the tab, only when I swipe outside the carousel.

Also it create

[2019-09-15 15:13] iamSahdeep commented on #8
First of all Sorry for the late reply, Its been a busy week. And Obviously, pageCarousel is using Gesture detector and So LiquidSwipe and LiquidSwipe's Gesture detector is placed on complete screen & on top of the Stack.

I would recommend to clone or fork LiquidSwipe and make your changes accordingly.

For instance you can WrapUp the GestureDetector [here](https://github.com/iamSahdeep/liquid_swi

[2019-09-15 15:22] iamSahdeep commented on #7
Me too, very much new to flutter and Just found Container have more properties than SizedBox. Thats why i have gone with Container. How as mentioned in another issue, you can make your own changes. This project was never ment to be a plugin, i was just learning things around and somehow made  it into this. :D

[2019-09-15 15:22] #7 closed

[2019-09-15 15:22] #6 closed

[2019-09-15 15:38] iamSahdeep commented on #5
Hey, @erperejildo thanks and glad that you liked it. For the issue, this generally happens when the animation is not yet completed and user touches the screen again. Basically gesture detector never stops detecting and takes input everytime user touches screen or drags on it.

[2019-09-17 16:51] #3 closed

[2019-09-17 16:51] #4 closed

[2019-09-18 04:48] shrutikateiosys commented on #4
Actually i want to stop looping when go to 3rd page i don't want 1st like that. but i done it .thank you.

[2019-09-19 08:30] YasserOJ opened #9 "changing arrow style ability(arrow image, color or style)"
Good morning,
I was using your lib for a small app but for me I need to change the arrow style and it's not available.
It's nice if you implement this

[2019-09-19 08:57] YasserOJ commented on #9
hello again
I just created a pull request for this improvement  I hope you add this ability
https://github.com/iamSahdeep/liquid_swipe_flutter/pull/10

[2019-09-20 21:13] iamSahdeep commented on #9
Hello @YasserOJ  thanks for the PR. I will look it by tomorrow. Thanks again and appreciated.

[2019-09-22 16:18] #9 closed

[2019-09-23 13:04] erperejildo commented on #8
Perfect @iamSahdeep. I'll have a look into that

[2019-09-23 13:04] #8 closed

[2019-09-23 13:08] erperejildo commented on #5
Could be possible maybe to reset the animation without stopping it straight away?

[2019-09-24 14:46] YasserOJ opened #11 "Scroll have a finicky feeling and bugs"
Hello,
I have noticed this bug today
I tried to make the page scrollable (the container have a list view as child) and I noticed a ui bug that either feels like a duplicate so we have a view above a view or the content got sliced(cuts)
I want to ask if there is any solution to this bug or a work around ?

[2019-09-25 10:02] iamSahdeep commented on #11
Hey, @YasserOJ can please share the Screenshot, However it feels like the bug is likely to be related to the fact that LiquidSwipe's gesturedetector is overlapping the one of ListView. And thus causing the problem.

[2019-09-25 10:16] iamSahdeep commented on #5
I am afraid but could not find a way to do it. I have also brainstormed the issue during development but the methods was effecting other thing related to Gestures. But would try to find a solution and will update if found one :)

[2019-09-25 22:22] serdarpolat opened #12 "Reverse!"
How do I turn off the reverse feature? Is there any parameter or method in this package?
I want it to stop when it comes to the last page.

By the way, i like this so much...

[2019-09-27 08:34] YasserOJ commented on #11
![Simulator Screen Shot - iPhone 11 Pro Max - 2019-09-27 at 09 34 03](https://user-images.githubusercontent.com/26030291/65754934-03221a80-e10a-11e9-9bf8-679f05f1720f.png)
![Simulator Screen Shot - iPhone SE - 2019-09-27 at 09 33 49](https://user-images.githubusercontent.com/26030291/65754936-03221a80-e10a-11e9-8d79-fbe2c9a5c88b.png)

[2019-09-27 11:34] iamSahdeep commented on #12
Hi @serdarpolat , I have implemented a feature to stop this looping. You can check the new release v1.2.0 . I will add option to disable reverse operation in future release.

[2019-09-27 11:34] #12 closed

[2019-09-27 13:10] YasserOJ opened #13 "current page index"
Hello
is there any way that I could know the current page Index ?
To be More clear I need to know if the page has been changed and what is the index of the page that changed into ?

[2019-09-27 15:28] mourad-brahim commented on #13
I just created a pull request fixing this issue: https://github.com/iamSahdeep/liquid_swipe_flutter/pull/14

[2019-09-27 15:48] YasserOJ commented on #13
I just copied your merge request and it works perfectly

[2019-09-27 17:15] iamSahdeep commented on #13
@mourad-brahim thanks for the PR, please can you look at the conflicts/reviews. And thanks @YasserOJ  for testing it.

[2019-09-27 20:25] YasserOJ commented on #11
@iamSahdeep  can you see this issue please
this is a list view

[2019-09-27 20:49] iamSahdeep commented on #11
Sorry, i somehow skipped to comment. Actually its quite difficult to understand the bug.The thing is each page is just above another and if page is not full screen it will make second page appear in the rest of the area. I could better understand the bug if you can provide me the demo apk. Or if not possible, provide me the structure (widget tree) of these pages. So that i could try and reproduce

[2019-09-30 15:02] iamSahdeep commented on #13
Will release new version asap.

[2019-09-30 15:02] #13 closed

[2019-10-09 04:09] Srywards opened #16 "onPageChangeCallback isn't defined"
Hello when i want to use the onPageChangeCallback, it tells me it's not defined.
Did I miss something?

![image](https://user-images.githubusercontent.com/15232456/66451112-adcbfe80-ea63-11e9-972c-785e66e9a798.png)

[2019-10-09 13:00] maheshwari-1153 opened #17 "Request to Add Product in Start Flutter"
Hello,

I am Maheshwari from team [GeekyAnts](https://geekyants.com/).

On behalf of [Start Flutter](https://startflutter.com/), we add open source products which we find helpful to the community & also we provide credits to author itself.

Let me know if you are interested showcase your product in our open source website.

Looking forward to hear from you.

[2019-10-11 10:04] iamSahdeep commented on #17
hey @maheshwari-1153 thanks for reaching out. Its Awesome that geekyAnts have such a great platform, i never knew. So, How can i proceed?

[2019-10-11 10:08] iamSahdeep commented on #16
Hey @Srywards You might be using a released version of liquid swipe. The example is using project itself. And I haven't released these changes on pub yet. I will update it ASAP, please let me know about it after that.

[2019-10-11 10:12] maheshwari-1153 commented on #17
If you like your product to be displayed at Start Flutter. please let us know. We will add the product & you should have either MIT or Apache licence added.

[2019-10-11 10:20] iamSahdeep commented on #17
yeah i am very much interested!! Should i get to your website and add there?

[2019-10-11 10:21] maheshwari-1153 commented on #17
No need, Only we can add. I will let you know once the product is added. Thankyou

[2019-10-11 19:24] iamSahdeep commented on #16
v1.3.0 is released you can look into releases. Closing!!

[2019-10-11 19:24] #16 closed

[2019-10-14 09:38] avenwu opened #18 "How to make the search result of liqiud_swipe_flutter displayed with preview image?"
Hi, I  came to this project while searching the github topic.
This project is really cool, and it's has a preview snapshot on the search result page.

**How did you make the preview image displayed?**
Can you please give any tips  to make the project look great?
<img width="768" alt="Screen Shot 2019-10-14 at 5 30 04 PM" src="https://user-images.githubusercontent.com/1622234/66741742-c5aee280-eea8

[2019-10-14 13:09] iamSahdeep commented on #18
You can add any image as a social preview through settings.like this.
![Screenshot_2019-10-14-18-37-11-492_com android chrome](https://user-images.githubusercontent.com/26563213/66753661-eb8cb500-eeb1-11e9-8b56-5605ffb96a87.png)

[2019-10-15 02:35] avenwu commented on #18
Cool, thx so much👏

[2019-10-15 02:36] #18 closed

[2019-10-29 13:04] ujwalp15 opened #19 "Add support for onFirstLaunch"
First of all, amazing work, much appreciated. I'm very new to flutter, as an onboarder adding something like onFirstLaunch would be a much needed feature. Since onboarders in most apps are mostly triggered only once during initial setup.

I was able to use PreferenceManager to implement this use-case. Can you help me with transitioning to homescreen from last page of the onboarder.

[2019-10-30 06:15] iamSahdeep commented on #19
@ujwalp15  since onFirstLauch feature requires sharedPrefrences kind of utililties, it will make LiquidSwipe dependent upon another plugins or packages. And ulimatly unnecessary classes inclusion. So its best if you implement in your app :). You can get a reference from here https://stackoverflow.com/a/44749517/7910735
And for moving to your main screen form onboarder, the only solution is to incl

[2019-10-31 15:01] swornimbikramshah opened #20 "Previous animated drawings(small curve line) gets stuck on the view after first swipe"

[2019-10-31 15:05] swornimbikramshah commented on #20
![Screenshot_20191031-204804](https://user-images.githubusercontent.com/53031167/67958958-1ac85380-fc20-11e9-9f9e-319482a57d77.png)

[2019-11-01 06:11] iamSahdeep commented on #20
Can you provide me steps to reproduce the issue. Also source code if possible, so that i could try it too.

[2019-12-06 22:25] volgin opened #21 "onPageChangeCallback is not required"
Make it required, or remove the following line:

assert(onPageChangeCallback != null),

I don't need this callback for my design, so ideally it should not be required at all.

[2019-12-06 22:32] volgin opened #22 "Exception if currentUpdateTypeCallback is not provided"
There is no null check in this line:

`widget.currentUpdateTypeCallback(event.updateType);
`

Ideally, this callback should not be required.

[2019-12-08 18:43] AbbasKhan21 commented on #20
Even I'm facing the same issue, a curved line exists on the screen

[2019-12-12 06:54] iamSahdeep commented on #22
hi @volgin  thanks for letting me know about it. Can you please for now use dummy method here just to make it null safe. I would make it not required and handle that condition too, in next update.
Thanks

[2019-12-12 06:55] #19 closed

[2019-12-12 06:58] iamSahdeep commented on #20
I need code to reproduce it. If any of you can provide please, it would be great.

[2019-12-12 06:58] #17 closed

[2019-12-12 06:59] #11 closed

[2019-12-23 09:32] #21 closed

[2019-12-23 09:36] #22 closed

[2020-01-26 14:02] Duderinooo commented on #20
It seems that placing any kind of Container inside brings up the issue of the line within its boundaries. Furthermore it also seems that the index of the new page isnt loaded inside the curved line part. It will show content of the last page.

  final pages = [
    Container(
      width: double.infinity,
      height: double.infinity,
      color: Colors.white
        child: Container (

[2020-02-14 01:52] peazz opened #24 "Buggy when swiping left"
Im getting FOUT in the ui when I scroll right, if I scroll right it works perfectly

[2020-02-14 07:06] iamSahdeep commented on #24
I'll try to update the library this weekend with better state management. I think `setState()` isn't ideal for this much animation and somehow causing lag.
It would be great if you could test it after that. I will ping you here after the release. :)

[2020-02-20 15:38] tochie-daniels opened #25 "pageChangeCallback not working"
Hi, thanks for the plugin.

Implementing the example code you provided, I noticed that the two callback functions - pageChangeCallback and currentUpdateTypeCallback do not return anything.

pageChangeCallback works only when the app loads, and it says prints page = 0 to console, but after that it does not print anything else. That is, when you swipe, the pageChangeCallback is not called.

NB: I'm

[2020-02-21 05:40] iamSahdeep commented on #25
Hi @tochie-daniels , I have updated the example file with DotIndicator implemented in it. Have a look at it, its working fine.
Here it is :
https://github.com/iamSahdeep/liquid_swipe_flutter/blob/master/example/lib/main.dart

[2020-02-21 14:05] tochie-daniels commented on #25
Thanks a lot @iamSahdeep . I can confirm its working fine. Nice work. Cheers!

[2020-02-21 14:06] #25 closed

[2020-03-01 19:34] NicolasCharpentier opened #26 "Automaticly change page"
Hey,

Thank you for this package, the animation is beautiful but it is only available from a drag gesture.

Could you implement programitcly changing the page ? It would serve so much more cases.

[2020-03-01 20:11] iamSahdeep commented on #26
Hi @NicolasCharpentier glad you liked it. I am currently working on its better state management ,taking a whole lot of the time due to my schedule and other things. I can try 'Programmatically changing the Page', depends upon complexity of its achievement, cause I have to perform the swipe programmatically or have to find other way. Will try implement it in next release, thanks for the feedback 💯

[2020-03-01 20:23] NicolasCharpentier commented on #26
Thanks for listening to that ! Hope you can without too many problems. Good luck !

[2020-03-16 10:27] iamSahdeep commented on #24
Please take a look at v1.4.0
https://pub.dev/packages/liquid_swipe/versions/1.4.0
Do let me know by reopening, if it doesnt resolved the issue

[2020-03-16 10:27] #24 closed

[2020-03-16 10:28] iamSahdeep commented on #20
Fixed now in [v1.4.0](https://pub.dev/packages/liquid_swipe/versions/1.4.0)
Please verify and let me know about it.
Thanks

[2020-03-16 10:28] #20 closed

[2020-03-18 12:15] shredding opened #27 "`liquid_swipe` does not specify a Swift version"
I receive this one:

---
 `liquid_swipe` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate this pod.

---

`flutter doctor` is fine and i run `flutter clean`.

I think it has something to do with removing and readding

[2020-03-18 12:46] shredding commented on #27
Update: After recreating everything (ios and android) folders, i get:

[code]

[2020-03-18 13:16] iamSahdeep commented on #27
Hi @shredding ,thanks for letting me know about it.
I havent tested plugin on IOS cause I dont have mac for it. It would be great if you can try the solution mentioned here at https://github.com/ko2ic/image_downloader/issues/9#issuecomment-471608482

I am not sure about the issue but it seems related to "Objective C vs Swift" in framework itself. Related Issues on flutter :-
  - https://github.com

[2020-03-18 13:38] shredding commented on #27
I got through that already and none of the problems apply for me. I have `!use_frameworks`, tried swift version etc.

Bit of a weird error. This file `liquid_swipe_flutter-Swift.h` does indeed not exists, what is it?

[2020-03-19 06:26] iamSahdeep commented on #27
Can you plz use previous release for now. I will work on it resolve it maybe this weekend.
Previous versions dont even have this file mentioned anywhere in ios folder and should be working.
I recall that I recreated android and ios folder again and that may have introduced these files.

[2020-03-22 17:00] Okladnoj opened #28 "inside liquid_swipe scrolling widgets are not working"
this is my widget that I fill out the list of pages
[animation_card.txt](https://github.com/iamSahdeep/liquid_swipe_flutter/files/4365627/animation_card.txt)
here in this part of the code I inserted a scrollable element.
`
                  Flexible(
                    child: SingleChildScrollView(
                      child: Text(
                        describe,
                        style:

[2020-03-23 12:41] heshesh2010 commented on #27
i have same error using latest verison   liquid_swipe: 1.4.0

code build done.                                            9.0s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    /Users/hesham/.pub-cache/hosted/pub.dartlang.org/liquid_swipe-1.4.0/ios/Classes/LiquidSwipeFlutterPlugin.m:8:9: fatal error: 'liquid_swipe_flutter-Swift.h' file not found

[2020-03-23 13:18] iamSahdeep commented on #27
Hey can any if you test this branch https://github.com/iamSahdeep/liquid_swipe_flutter/tree/iosfix by running example in it

Or you can test it on your project. Add this in your pubsec.yaml of your project :

[code]
Please let me know, i will update repo asap

[2020-03-23 17:07] heshesh2010 commented on #27
yes it works now tested on ios 13 and Xcode

[2020-03-23 17:24] iamSahdeep commented on #28
Seems similiar to this https://github.com/iamSahdeep/liquid_swipe_flutter/issues/8
Can't do anything in it, liquid swipe needs complete gesture and need to be on top. So child should be non scrollable. However you can try disable vertical scroll in this [GestureDetector](https://github.com/iamSahdeep/liquid_swipe_flutter/blob/master/lib/PageHelpers/page_dragger.dart#L94) by forking/cloning it.

[2020-03-23 17:27] iamSahdeep commented on #27
Hi @heshesh2010 thanks for confirming, I will release new version by tommorrow. Thanks again.

[2020-03-24 14:43] #27 closed

[2020-03-24 14:46] shredding commented on #27
Thanks for solving! I was overwhelmed with family & work in quarantaine and couldn't test it.

[2020-03-24 16:18] heshesh2010 opened #29 "add two arrow in left and right"
please can you add two arrow to be like slider to swipe from right of left , cuz i'm using RTL and i want to show the icon on left side

[2020-03-24 20:48] Okladnoj commented on #28
Thanks a lot!!! Problem solved.
But now the question is:
How to fix a cut scroll window!?!?!?
![image](https://user-images.githubusercontent.com/36802187/77475487-97530d00-6e21-11ea-98ef-be15d5470d67.png)

[2020-03-26 07:59] shredding commented on #27
Would you mind telling me what the problem was? I was debugging quite a bit for myself and didn't find out and can't make any sense of your commit.

[2020-03-26 11:01] heshesh2010 commented on #29
this is not issue this feature request or question on how to change arrow location from right screen to left

[2020-03-27 06:47] iamSahdeep commented on #29
I will try to implement it in next release. LTR, so ppl can swipe from left to right and arrow will be placed on left. And might add a Boolean to disable vertical scroll.

[2020-03-27 06:49] iamSahdeep commented on #28
Its kind of known issue, i have experienced it somewhere else also. Let me reopen it and will try to fix it in next release.

[2020-03-27 07:03] iamSahdeep commented on #27
I have just reverted my this [commit](https://github.com/iamSahdeep/liquid_swipe_flutter/commit/359d6e39cd8b122ba9d94b0f0428a2b5b319aa27), just for ios folder. Actually I intentionally deleted both android and ios folder of the library and recreated them. I was on, i guess, dev branch of flutter which made Ios folder to have those files.
Reverting that to previously working classes solved it.

[2020-03-28 22:03] Okladnoj commented on #28
Thank you very much!) I really appreciate your work. I will look forward to your updates !!))

[2020-03-29 14:21] heshesh2010 opened #30 "1.4.1 new bug"
hi , i have delated pub-cache folder to insure that all old packages are updated but still get this error in last version .

i'm using android studio

Compiler message:
../../.pub-cache/hosted/pub.dartlang.org/liquid_swipe-1.4.1/lib/liquid_swipe.dart:77:17: Error: 'Page' is imported from both 'package:flutter/src/widgets/navigator.dart' and 'package:liquid_swipe/PageHelpers/page.dart'.

[2020-03-30 14:00] iamSahdeep commented on #30
Can you show me the code snippet of where Page is being used in your project

[2020-03-30 14:41] heshesh2010 commented on #30
the problem not in my code i didn't changed my code since last update from your side ,

the error it shows something wrong in you library

[2020-03-31 06:29] xiaocode337317439 commented on #30
Upgrade to the latest master version, liquid_swift.dart file itself internal Page and native Page conflict, update source code can be fixed

[2020-03-31 11:42] iamSahdeep commented on #30
I couldn't reproduce it. However i have changed the name of "Page" to "CustomPage" in v1.4.2. Should be resolved now.

[2020-03-31 11:42] #30 closed

[2020-04-07 23:43] heshesh2010 opened #31 "add arrow icon with next background color"
<img width="233" alt="Screen Shot 2020-04-08 at 1 40 28 AM" src="https://user-images.githubusercontent.com/16393042/78729358-1d9b4300-793a-11ea-9cc7-5b926c4dd196.png">

how to add this wive icon to be as same as screenshot shows not that when transition finished there will be some right pixels that show the right screen color with arrow icon

[2020-04-11 13:23] heshesh2010 opened #32 "1.4.2 xcode ios bug"
error: /Users/hesham/.pub-cache/git/liquid_swipe_flutter-5702d1e3fbd62b7582277580a154152f773704fd/ios/Classes/LiquidSwipePlugin.h: No such file or directory (in target 'liquid_swipe' from project 'Pods')

Showing All Messages
/Users/hesham/.pub-cache/git/liquid_swipe_flutter-5702d1e3fbd62b7582277580a154152f773704fd/ios/Classes/LiquidSwipePlugin.h: No such file or directory

[2020-04-11 16:40] iamSahdeep commented on #32
Dont know why its still there :(

[2020-04-11 16:46] iamSahdeep commented on #31
Cuberto's liquid swipe implementation is totaly different from flutter. I tries to make it same but couldn't make it. I will try again on maintaining a lining view to the right. However to change the icon color you can use onPageChangeCallback to get the next item position and change color accordingly.

[2020-04-12 11:39] edTheGuy00 commented on #32
Why does this even need native code in the first place if it's purely a dart implementation? After seeing this annoying issue a couple of times, I made my own fork and removed all the useless native code. I also opened a PR #33

But for now I'm just using my fork
[code]

You may need to clear out your cache.

[2020-04-13 08:00] MazsLi commented on #26
How can I use LiquidSwipe + Navigation bar + PageController to replace PageView?

[2020-04-20 13:36] iamSahdeep commented on #32
Thanks to @edTheGuy00 . The issue is now fixed in v1.4.3

[2020-04-20 13:36] #32 closed

[2020-04-22 08:15] jaumard opened #34 "type 'List<Widget>' is not a subtype of type 'List<Container>'"
`pages` is set as `List<Widget>` but on the state you are expecting only `List<Container>`

[code]

[2020-04-22 09:00] iamSahdeep commented on #34
Yes, pages are still need to be `List<Container>`. Please use them as it for now, working on it.

[2020-04-27 18:07] princeteck opened #35 "When trying to update initalPage via setState, its not working."
I wish to add a skip button on the page. normally I would change the `initialPage` value but its not working.

[code]

call for `pageChangeCallback`

[code]

How to skip the entire slides if user wish too ...

[2020-05-01 06:56] iamSahdeep commented on #26
@valdo99 Hey thanks for the compliment & help, actually I haven't even started on it due overwhelming lockdown and office work. However, this particular feature requires 2 things, a virtual drag for imitating the swipe and a PageController/LiquidController, i havent worked on any of these so far.

LiquidController would be similiar to PageController in PageView, which will resolve some other issue

[2020-05-01 07:00] iamSahdeep commented on #35
Hi, @princeteck skipping through pages is not quite possible yet. However you can always put button above LiquidSwipe using stack and navigate to your next MaterialPage from it.

[2020-05-11 14:38] iamSahdeep commented on #26
Added new pre-release related to the issue. https://github.com/iamSahdeep/liquid_swipe_flutter/releases/tag/v1.5.0-alpha
Do check it out, will be updating the branch side by side with bug fixes. Please test and let me know of issues or feedback by creating new issue or commenting here. Thanks :)

[2020-05-11 14:42] iamSahdeep commented on #34
Will be fixed and closed in upcoming Release. You can verify using this pre release https://github.com/iamSahdeep/liquid_swipe_flutter/releases/tag/v1.5.0-alpha

Let me know of any issues. Thanks

[2020-05-11 14:43] iamSahdeep commented on #35
You can use this Pre-Release https://github.com/iamSahdeep/liquid_swipe_flutter/releases/tag/v1.5.0-alpha for skipping Pages to any page you want. Will release on Pub soon after bugs fix, if any.

[2020-05-20 21:57] peternagy1332 commented on #8
Hi, @iamSahdeep ! First of all, I really appreciate your work, it's fast and beautiful. Although, could you please try setting the behavior property of your GestureDetector to HitTestBehavior.translucent ? I think this way we could "click through" your detector that blocks the whole page.

[2020-05-21 19:30] peternagy1332 commented on #28
Hi, @iamSahdeep ! First of all, I really appreciate your work, it's fast and beautiful. Although, could you please try setting the behavior property of your GestureDetector to HitTestBehavior.translucent ? I think this way we could "click through" your detector that blocks the whole page.

My other suggestion would be listening for gestures only on the sides, not the full page.

[2020-06-06 16:40] Okladnoj commented on #28
Good day!)
How are you doing with this? Is it worth the wait for this decision?

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/36802187/83949587-69307700-a82d-11ea-81e3-8915dc137e8c.gif)
Really looking forward to your decisions !!!
Thank you very much in advance!!!)))

[2020-06-06 21:04] iamSahdeep commented on #28
Hi, @Okladnoj can you check the latest pre-release  https://github.com/iamSahdeep/liquid_swipe_flutter/releases/tag/v1.5.0-alpha
I think it resolved this unnecessary clip at the centre which is shifted to right as shown in gif below. If it doesn't work please let me :)
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/26563213/83954397-76b62300-a866-11ea-9808-3426ab5b5126.gif)

A

[2020-06-17 05:08] SujitChanda commented on #30
change the package version to ^1.4.3 and remove the '/Helpers.dart' package, that resolved my issue.

[2020-06-19 15:32] iamSahdeep commented on #35
Added feature to jump to any page [v1.5.0-dev.1](https://pub.dev/packages/liquid_swipe/versions/1.5.0-dev.1)

[2020-06-19 15:32] #35 closed

[2020-06-19 15:34] iamSahdeep commented on #34
Should be fixed in [v1.5.0-dev.1](https://pub.dev/packages/liquid_swipe/versions/1.5.0-dev.1)

[2020-06-19 15:34] #34 closed

[2020-06-19 15:34] #31 closed

[2020-06-19 15:35] iamSahdeep commented on #28
Fixed in [v1.5.0.dev-1](https://pub.dev/packages/liquid_swipe/versions/1.5.0-dev.1)

[2020-06-19 15:35] #28 closed

[2020-06-19 15:37] iamSahdeep commented on #26
Added LiquidController to change pages programmatically in [v1.5.0-dev.1](https://pub.dev/packages/liquid_swipe/versions/1.5.0-dev.1)

For usage checkout readme and let me know any issues.

[2020-06-19 15:37] #26 closed

[2020-06-21 21:27] Okladnoj commented on #28
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/36802187/85235589-e90a3400-b41e-11ea-8831-7e015d5d7545.gif)
Thank you so much!) You are the best!))

Probably it is necessary to make the indentation is greater than or omit text below and succeed !!)))

[2020-06-22 06:55] iamSahdeep commented on #28
I see, will try to make it completely gone from the right by next release.

[2020-06-22 12:47] NightlyGeek opened #37 "It's awesome ❤️"
I have been using this library in a couple of projects and it always shines out. Easy to use and tweak. Also, I was checking your other projects and those are awesome too. So, a huge thanks from my side. Keep Hacking.

[2020-06-22 14:12] iamSahdeep commented on #37
Hey @NightlyGeek thanks for the compliment and you encouragement. It means alot. Thanks again.

[2020-06-22 14:12] #37 closed

[2020-06-22 15:18] iamSahdeep opened #38 "Temporary Issue"

[2020-06-22 15:20] iamSahdeep commented on #38
@all-contributors please add @iamSahdeep  for code

[2020-06-22 15:41] iamSahdeep commented on #38
@all-contributers add @mourad-brahim for code

[2020-06-22 15:45] iamSahdeep commented on #32
@all-contributors add @heshesh2010 for bug and userTesting

[2020-06-22 15:50] iamSahdeep commented on #13
@all-contributors add @mourad-brahim  for code

[2020-06-22 15:51] iamSahdeep commented on #9
@all-contributors add @YasserOJ for code and bug

[2020-06-22 16:06] #38 closed

[2020-07-09 08:05] sabdulm opened #43 "Update information on flutter pub.dev page and example"
The repository and the pub dev page shows different versions of the liquid swipe package to add to the pubspec.yaml file.

pub.dev site shows
`dependencies:
liquid_swipe: ^1.4.3`

The main readme in the gthub repo shows
`dependencies:
liquid_swipe: ^1.5.0-dev.1`

While the example in the github repo mentions to import an even older version of the package. Following the example, I was getting an er

[2020-07-09 11:50] iamSahdeep commented on #43
@sabdulm Hi thanks for details, actually v1.5.0-dev.1 is a pre-release and it does not show up directly on pub.dev homepage but provide two versions side to like button of pub.dev homepage.
You can use pre-release https://pub.dev/packages/liquid_swipe/versions/1.5.0-dev.1 with instructions mentioned in this link.

Once added more features, I will release the stable version v1.5.0

[2020-07-09 12:27] sabdulm commented on #43
The issue primarily was that the example app in the repo has code that requires version 1.5.0-dev.1(e.g the liquidController), but an older release version was imported.

Apologies, if i wasn't clear before.

[2020-07-11 16:50] iamSahdeep commented on #43
But Example in the Repository will always have the latest code in the master.
And we are importing plugin using
[code]
which will only take your local Repo as plugin. Only reason I can think of is, you might have updated the example but not the repo.

[2020-07-17 14:17] Tanzil7274 opened #44 "Better reverse animation?"
First of all, great work and great package.This feels a bit like nitpicking, but are you considering a better animation for when swiping back ( from left to right ) ?.Like the same animation, but from the left side to accommodate swiping in any direction?

[2020-07-18 14:59] ssoldy commented on #5
Hello, any updates on this issue?

[2020-07-19 09:35] iamSahdeep commented on #44
Hey @Tanzil7274  thanks for the suggestion but No I am not planing to make same animations for both the directions. making it similar to RTL would not make contrast in two of them and would create a weird UX, at least for me. Although I would recommend everyone who needs these changes can fork and make changes according to there need :)

[2020-07-19 09:35] #44 closed

[2020-07-19 09:36] #43 closed

[2020-07-19 09:40] siddanth159 opened #45 "Listview as children"
Option to include ListView/GridView/PageView as children with top-down swipe gesture capabilities.

[2020-07-19 09:40] iamSahdeep commented on #29
@heshesh2010  I won't be making these changes as the implementation would make my code spaghetti and too complex for me as well. Also current implementation is totally depended upon RTL Direction. But I will soon write the Documentation to achieve this in the FAQ or wiki. If you can work on this, I am all up for any PR for this Feature.

[2020-07-19 09:40] #29 closed

[2020-07-19 09:43] iamSahdeep commented on #5
@ssoldy any suggestion is welcome. I thought first to block gestures while completing the animation but I guess it would me the whole fast swiping impossible?

[2020-07-19 09:51] iamSahdeep commented on #45
Similar to #8 and #28

[2020-07-19 10:25] siddanth159 commented on #28
Any update on this?

[2020-07-19 11:05] iamSahdeep commented on #28
@siddanth159 not yet, couldn't find anything yet for it. Wait for sometimes please. 🙂

[2020-07-22 18:50] ssoldy commented on #5
Yes I was thinking the same, disabling user input while the animation is in progress is a good approach in my opinion; maybe make it optional?

[2020-07-22 22:25] ssoldy commented on #5
Hi again, I actually fixed it the way we were saying, just by modifying a bit IamRiderProvider and PageDragger, if you want i can give you the source so you can see if implement it or not. Let me know :)
@iamSahdeep

[2020-07-23 11:15] iamSahdeep commented on #5
Great @ssoldy we can make it optional value, for enabling and disabling it. It would be great if you can create a PR with these changes and optional value in Widget Constructor. I will review and merge it.
Thanks.

[2020-07-24 15:10] ssoldy commented on #5
@iamSahdeep hi I think I need a new branch to do a PR

[2020-07-24 19:46] iamSahdeep commented on #5
@ssoldy I have created Dev branch from master, your can create PR into it :)

[2020-07-25 10:43] ssoldy commented on #5
@iamSahdeep Hi i made the changes and tried to commit but i get denied, this way I cannot make a PR from dev to master since there are no changes

[2020-07-25 11:41] iamSahdeep commented on #5
@ssoldy  you have to fork the repository, add commits into your branch (master or any) locally, push them to your remote fork. And create PR from your fork's branch to mine's Dev branch.

[2020-07-25 13:49] ssoldy commented on #5
@iamSahdeep Done, thank you!

[2020-07-25 16:31] iamSahdeep commented on #5
Changes merged in branch 1.5.0VDEV
and PreReleased at https://pub.dev/packages/liquid_swipe/versions/1.5.0-dev.2
@all-contributors please add @ssoldy  for code.
Thanks @ssoldy .

[2020-07-25 16:31] #5 closed

[2020-07-25 16:36] #45 closed

[2020-07-29 11:42] NicolasCELLA opened #48 "Disable swipe"
Hello it's possible to disable the swipe and use only "animateToPage" ?

[2020-07-29 13:58] LuckyRon88 commented on #48
I'm not the author - I am just building an app with this repo and I saw your issue and quickly looked into it out of curiosity.

You can go to the package folder and under Provider, you can disable the package for detecting the swiping gesturing. Not the cleanest solution but it'll work. Make sure to disable updating/upgrading the package.

[2020-07-29 14:26] LuckyRon88 opened #49 "LiquidReveal splits my screen into components and doesn't work with a ListView"
![Screenshot_20200729_214605](https://user-images.githubusercontent.com/68688349/88810023-6166d080-d1e7-11ea-83bb-694c2c2b6daa.png)

Hello! love the package!

I was just wondering if you could help me with the issue above.

` @override
  Widget build(BuildContext context) {
    final myModel = Provider.of<MyModel>(context, listen: false);
    return new MaterialApp(
      debugShowCheckedModeBanne

[2020-07-29 14:43] iamSahdeep commented on #49
@LuckyRon88 Thanks, I am working on this issue, was already reported in https://github.com/iamSahdeep/liquid_swipe_flutter/issues/28 .
There are no hot fixes for now, let me come up with the solution :)

[2020-07-29 14:50] LuckyRon88 commented on #49
cool! thanks man! I thought, maybe I was misusing your package!

Anyways, super cool package!

[2020-07-29 15:00] iamSahdeep commented on #48
@NicolasCELLA thanks for the suggestion, adding a method to disable swipe in LiquidController.
If you want immediate usage, you can simple add a return statement in `onDragStart()` method in `page_dragger.dart` file before setting `dragStart`.

Example :
[code]

[2020-07-29 15:19] iamSahdeep commented on #49
@LuckyRon88 just found the solution :p
If you are using your own fork you have to make 3 changes :-
1. Change `slidePercentHor = slidePercentVer = 0.5;` to `slidePercentHor = slidePercentVer = 0.0;`  in `IAmARiderProvider` Constructor.
2. Changes in `sidewidth()` method in `WaveLayer.dart'
[code]
3. Changes in `waveHorRadiusF()` method in `WaveLayer.dart'
[code]
Adding them in prerelease 1.5.0-dev

[2020-07-29 16:03] LuckyRon88 commented on #49
nice man! cool!

I am on UTC+8 so it's time to go to sleep.

Will try it out as soon as I wake up and post results!

Thanks again!

[2020-07-29 16:16] LuckyRon88 commented on #49
I couldn't resist trying it out! it works perfectly!

[2020-07-29 16:23] iamSahdeep commented on #49
xD thanks for confirmation
Added it in https://pub.dev/packages/liquid_swipe/versions/1.5.0-dev.3
Soon be releasing it in v1.5.0 :)

[2020-07-29 16:23] #49 closed

[2020-07-29 16:27] iamSahdeep commented on #48
Added it in https://pub.dev/packages/liquid_swipe/versions/1.5.0-dev.3 :)
You can use this pre-release and use `disableUserGesture` property in LiquidSwipe's Constructor and you can also enable or disable gesture in runtime using LiquidController.

[2020-07-29 16:27] #48 closed

[2020-07-30 08:01] NicolasCELLA commented on #48
ok thx for your help

[2020-08-03 12:54] ichitaka opened #51 "Bottom overflow with custom slideIconWidget"
So it seems like the implicit constraint of the parameters size property is not really clear? I'm using an additional text below the icon to make it clearer that the icon is used to reach the next page. On the iPhone simulator it seems to be too big for the slideIconWidget parameters. It's not really clear why that is the case.

My slideIconWidget:

[code]

[2020-08-03 13:15] iamSahdeep commented on #51
Hey @ichitaka thanks for creating the issue,

Can you please try out recently released version v1.5.0, which might resolve your issue. I have tested it on 1.5.0, SGTM.

and you might want to include  `mainAxisSize: MainAxisSize.min ` in Column. Previously I was using FAB as Parent to slideWidget but in v1.5.0, I have removed it.

![localhost_61134_(iPhone X)](https://user-images.githubusercontent.

[2020-08-11 13:00] ichitaka commented on #51
Thank you, update resolved my issue.

[2020-08-11 13:00] #51 closed

[2020-08-12 07:37] jinfagang opened #52 "hosted/pub.dartlang.org/liquid_swipe-1.5.0/lib/Constants/Helpers.dart': No such file or directory import 'package:liquid_swipe/Constants/Helpers.dart';"
hosted/pub.dartlang.org/liquid_swipe-1.5.0/lib/Constants/Helpers.dart': No such file or directory
import 'package:liquid_swipe/Constants/Helpers.dart';

[2020-08-12 07:41] #52 closed

[2020-08-12 07:43] iamSahdeep commented on #52
Issue Resolved?

[2020-08-15 21:31] abdulsamad234 commented on #31
What are you using for the animation? Would like to suggest an option where the animation is frozen at that point, because I noticed there is a point in the animation where it actually looks like that.

[2020-08-15 21:50] iamSahdeep commented on #31
Yes, it should be the behaviour but clipper didn't work as expected. Should be fixing and bringing this feature in 2.0 :)

[2020-08-17 09:44] Ujjawalmaurya opened #53 "Package having an issue while installing"
[code]

[2020-08-17 15:40] iamSahdeep commented on #53
You might be including liquid_swipe as dependency in its clone itself, thats what error is saying. You need to explain bit more, so that I can help better.

[2020-08-18 01:23] Ujjawalmaurya commented on #53
name: liquid_swipe
description: A new Flutter project.

publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^0.1.3
  liquid_swipe:

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

Iam adding it like this...

[2020-08-18 07:22] Ujjawalmaurya commented on #53
![Screenshot_20200818_123021-2](https://user-images.githubusercontent.com/34861422/90482967-a8dedd80-e151-11ea-945c-9b4e7009fc66.png)

[2020-08-18 10:33] iamSahdeep commented on #53
Your project name and liquid swipe package both have same name, you have to change your project name.
Here
[code]
As mentioned above in code as comment 🙂

[2020-08-18 17:23] iamSahdeep opened #54 "Better Documentation and Readme"
I am planning to create a new Read-Me with better documentation about LiquidSwipe with mini examples of each property and its output. Need some resources, If anyone have some links to good flutter readme's or any one want to help me with it.
Please let me know. Thanks :)

[2020-08-19 16:19] Ujjawalmaurya commented on #53
[code]

[2020-08-19 17:24] #53 closed

[2020-08-24 06:23] #54 closed

[2020-09-01 06:20] fuser312 opened #55 "Love this package but is there a way to do vertical animation i.e. from bottom to top?"
I am looking for same liquid animation but vertically from top to bottom or bottom to top. Is there a way to do this?

[2020-09-03 06:59] AyadRocketfy commented on #55
Hello @fuser312,
There is another package that you can create vertical intro circles: https://pub.dev/packages/intro_views_flutter

[2020-09-03 11:24] iamSahdeep commented on #55
@fuser312 There is no straightforward way, that I could found.

If you want to you have to clone/fork and have to make changes mentioned below.
One way with limitations is to use RotatedBox in [PageReveal](https://github.com/iamSahdeep/liquid_swipe_flutter/blob/master/lib/PageHelpers/page_reveal.dart) class like this :

[code]

Also you have to make changes in [PageDragger](https://github.com/iamS

[2020-09-03 11:24] #55 closed

[2020-09-11 22:48] luis-cruzt commented on #31
Do you know when are you bringing this feature? I really need it :/

[2020-09-13 18:39] iamSahdeep commented on #31
@luis-cruzt Allow me some more time please. Overwhelmed with job these days. :(

[2020-09-21 18:55] Guggilla2001 opened #56 "Can u make a unity package 😁😁 for this"
Bro please make a unity package for this.
For unity developers.

[2020-09-21 19:02] Guggilla2001 commented on #56
Bro thanks for responding....

[2020-09-22 13:27] iamSahdeep commented on #56
@Guggilla2001 I am afraid that's not possible for me. I have zero knowledge of unity :(

[2020-09-28 20:56] #56 closed

[2020-10-06 10:49] leidig54 opened #57 "page being built too early"
Hi Sahdeep,

Thank you for an amazing package. Im having a slight issue with the rendering as you can see from the gif. I followed your example code exactly but don't seem to be able to stop the next and previous screens from rendering at the same time.

Thanks,

G

![RPReplay_Final1601981161](https://user-images.githubusercontent.com/56688570/95192294-e7942a00-07c9-11eb-9ed5-1706f3200872.gif)

Do

[2020-10-06 10:50] leidig54 commented on #57
import 'dart:math';

import 'package:flutter/material.dart';
import 'package:liquid_swipe/liquid_swipe.dart';
import 'package:oto/features/login/presentation/login_ui.dart';
import 'package:oto/features/onboarding/presentation/onboarding_widgets.dart';
import 'package:oto/main.dart';
import 'package:oto/shared/colors.dart';

class OnboardingNav extends StatefulWidget {
  @override
  _OnboardingNav

[2020-10-06 10:57] leidig54 commented on #57
Sorry my bad - fixed by giving the pages a background color. Ty :)

[2020-10-06 10:57] #57 closed

[2020-10-06 12:22] iamSahdeep commented on #57
:)

[2020-11-06 16:59] luis-cruzt commented on #31
Any news on this? 😄

[2020-11-06 22:07] iamSahdeep commented on #31
HeyI @luis-cruzt I already made it. Some are still some issues there (like in SS), working on them, should be there soon in v2.0.0
![photo_2020-11-07_03-34-29](https://user-images.githubusercontent.com/26563213/98419139-6c64b300-20aa-11eb-9bb5-0b1e7ec30f54.jpg)

[2020-11-06 22:23] luis-cruzt commented on #31
that's good to read! @iamSahdeep thank you.

[2020-11-14 19:36] N0K0 opened #58 "Slide is 0.5x wrong when running in landscape mode."
Hi! I got  an issue with the liquidController. When I use it in landscape mode the center of the swipe animation is on the point between where I got my finger and the top of the screen.

Example video:
https://youtu.be/KW8fPtMRaV4

The same issue is present when we start in landscape mode without any rotation in between.

[code]

[2020-11-14 20:29] N0K0 commented on #58
Made some minor tweaks to your code which works on my phone.

[code]

Its a stupid fix, but i guess the bottom line is that the PageDragger does not respect the screenports size and is only using a static size og 500 logical pixels?

[2020-11-17 08:57] iamSahdeep commented on #58
@N0K0 Thanks, I too faced the same issue before.
Will soon update with more legit solution to it. Also I think it has been reduced while working on other feature. https://github.com/iamSahdeep/liquid_swipe_flutter/issues/31#issuecomment-723321496

Will update you when fixed. Thanks again.

[2020-12-08 14:45] divid0n1 opened #59 "Slider on LiquidSwipe"
Hi Sir, thank you for doing great job you made very nice and beautiful, I really like it, I was wishing to use in some of my project and I am doing right now.
I am in trouble I am trying to get two container in LiquidSwipe one for MP3 Player and 2nd for PlayList, I am trying to place Slider as seekbar, but I am unable to drag seekbar back or forward, its work fine by tapping but unable to drag it,

[2020-12-10 19:21] iamSahdeep commented on #59
Hey @divid0n1
Liquid Swipes gesture detector is using full screen for its gesture. Its impossible for child to have horizontal scroll ability :(
Also `disableUserGesture:true` wont effect the result but can only use taps in that case, sliding wont work.

[2020-12-12 23:09] divid0n1 commented on #59
Thank you for your kind response. Boss is there any solution/suggestion or should I plan to use any other project.

[2020-12-15 17:35] iamSahdeep commented on #59
Vertical Should work, as I had disabled the verticalgesture in GestureRecogniser. Vertical scrolling is working for ScrollView, should be working on Sliders.

[2020-12-15 17:35] #59 closed

[2021-01-11 08:39] Testispuncher opened #60 "JumpToPage does not jump to previous pages at the last index"
This is a very nice plugin, thank you! When I want to jump from right to left (from the last page to the first one),
```liquidController.jumpToPage(page: 0);```
the current behavior prevent me doing it, unless `enableLoop` is set to be `true`, is that designed to be so?

[2021-01-13 10:40] iamSahdeep commented on #60
Hey @Testispuncher Thanks for the feedback. You are right it was not intentional. Actually jumpToPage method had a internal usage as well. I have removed the condition for the same.

Can you please test version 2.0.0-dev.2 , and please let me know of any other issues. Thanks again.

[2021-01-13 10:45] iamSahdeep commented on #58
@N0K0 Should be fixed in  2.0.0-dev.2

Can you please check and let me know if actually works in your case. Thank you.

[2021-01-14 17:49] N0K0 commented on #58
@iamSahdeep awesome! The positioning is correct now on the horizontal axis! Is it possible to reduce the sensitivity of the swipe animation?
In landscape mode it ends up moving faster/longer than my current touch position. Not really a big issue really

[2021-01-15 06:08] Testispuncher commented on #60
@iamSahdeep Thanks for the quick fix. It works!

[2021-01-15 06:08] #60 closed

[2021-01-15 07:27] iamSahdeep commented on #58
@N0K0 thanks for confirming it. Did fullTransitionValue worked previously, like in the previous versions?

[2021-01-15 11:57] N0K0 commented on #58
Yes you are correct, will just tweak that value to match the different orientations. We can close this issue now. Thanks for the update!

[2021-01-15 13:19] iamSahdeep commented on #58
Thanks for the confirmation. Closing now!!

[2021-01-15 13:19] #58 closed

[2021-03-03 20:04] gabrc52 opened #63 "Migrate to null safety"
https://dart.dev/null-safety/migration-guide

Null safety comes with many advantages (which has been talked about in today's Flutter livestream), and it will probably be the default in the future.

It would be appreciated if this package can be migrated to null safety.

[2021-03-04 07:15] iamSahdeep commented on #63
@gabrc52 thanks for the suggestions. I have plan for this as well. But I am quite not sure If I should publish 2.0 first or include null safety in it itself.
Or may be pre release null safety first and then release them together in v2.0

[2021-03-08 21:43] luis-cruzt opened #64 "Liquid Swipe causes 2 rebuilds"
Hello, i'm trying to implement a [timer](https://pub.dev/packages/custom_timer) within this awesome plugin, but the problem is that when the timer finishes, liquid swipe makes the timer being called twice, but without liquid swipe, when the timer finishes, is not being called twice.

With the following code the 'Finished.' line prints two times.

Example code:

page1.dart
[code]

Any workaround?

[2021-03-09 12:16] SirusCodes commented on #63
I guess including them both in one would be fine as it will indicate a breaking change anyways. You can document all the breaking change together.

[2021-03-09 17:15] iamSahdeep commented on #63
Published [pre release](https://pub.dev/packages/liquid_swipe/versions/2.0.0-dev.3-nullsafety) for now. Need to add some tests and we are good to go. Have to add some migration guide too for v2.0

[2021-03-09 17:21] luis-cruzt commented on #64
That's sad to hear, so there is no solution for this problem? Only the workaround that you mentioned?

[2021-03-09 17:40] SirusCodes commented on #63
Thanks a lot!!💙

[2021-03-09 20:13] iamSahdeep commented on #64
Right, sorry :(
Unless I could use PageView Instead of Stack and use KeepAliveMixins with it. And I think its not possible with current architecture and usage. Plus I don't know much about transformations in Pageview using Clippers or anything.

[2021-03-09 20:18] luis-cruzt commented on #64
Well, i think we can close this issue, thanks.

[2021-03-09 20:18] #64 closed

[2021-03-10 19:08] gabrc52 commented on #63
Awesome, thanks a lot :D

[2021-03-11 12:45] gazialankus opened #65 "Can't use currentPage in build function since provider is late"
We should be able to use currentPage in build function to act differently depending on the current page. However, since provider is late, this causes an exception in the first build. Here is the exception when you try to use currentPage in build()

[code]

[2021-03-11 13:29] iamSahdeep commented on #65
@gazialankus Correct.
I even mentioned this here about this limitation
[https://github.com/iamSahdeep/liquid_swipe_flutter#liquidcontroller](https://github.com/iamSahdeep/liquid_swipe_flutter#liquidcontroller
)
For now you have to use controller at least after first build.

[2021-03-11 13:41] gazialankus commented on #65
Yes I'm doing that, but it's not a good solution.

[2021-03-11 13:51] iamSahdeep commented on #65
@gazialankus Right :(
Might fix this in next release. Have to find the concrete solution for it.

[2021-03-11 13:54] gazialankus commented on #65
Making it nullable and using null checks, or a boolean that tracks the initialized status should do. The default value would be 0.

[2021-03-11 14:02] iamSahdeep commented on #65
Yes we can initialise properties with default values in case provider is not initialised. And assertion for the method calls, just like PageView.

Thanks @gazialankus will be closing it tomorrow.

[2021-03-12 20:25] iamSahdeep commented on #65
Fixed in version [v2.0.1](https://pub.dev/packages/liquid_swipe/versions/2.0.1)

[2021-03-12 20:25] #65 closed

[2021-03-18 13:10] yeahse opened #66 "I want it to be ListView"
I want it to be ListView not List<Widget>

how do I figure out this?

pages: List<Widget> is useless for me..

[2021-03-19 03:07] yeahse commented on #66
@iamSahdeep hi yes I want to put "ListView" for "pages:" argument. there is no way to do this? any recommended suggestion please?

[2021-03-19 13:29] iamSahdeep commented on #66
I think you want to use ListView.builder cause even in normal Listview widget you have to pass List of Widgets as a child!
If thats the case you can use [List.generate](https://api.flutter.dev/flutter/dart-core/List/List.generate.html) which can simply work like a ListView.builder.

If thats not the case, I quite don't understand why you need to use ListView at first?

[2021-03-19 14:12] yeahse commented on #66
@iamSahdeep  thank you for attention

An example of liquid_swipe package has this line : List<Widget> = [Container(),Container(),Container()...]

It doesn't matter if there are just a few, but let's say you have 300 lists. then you must have a rendering performance issue.

I know that flutter's ListView.builder works like Android's recyclerview.
I just want to eliminate the performance issue by do

[2021-03-24 12:18] iamSahdeep commented on #66
I did bit of experimentation, to create a builder method for LiquidSwipe to dynamically create page for the same. Need more time as currently working on something else, you will surely get a solution  :)

[2021-03-24 12:32] yeahse commented on #66
@iamSahdeep

I hope getting great news!

And there is one more small suggestion.
Now, as soon as you drag, all the widgets behind it are exposed. (Even though the wave wasn't over)

I'm just suggesting those because I want the package to be a little more perfect as someone who likes this package, thank you

[2021-03-25 19:06] SirusCodes opened #67 "[Regression]Reveals a part of screen before swiping"
A part of screen already show which is not customizable 😞
On press of screen it just acts weird which is not expected...

https://user-images.githubusercontent.com/50910066/112529296-1d09ef80-8dcb-11eb-8002-aadf930e9531.mp4

[2021-03-25 19:13] iamSahdeep commented on #67
@SirusCodes thanks, I am making that side reveal customisable in upcoming release. But can you show me this touch issue, by providing any Apk or code to reproduce it?

[2021-03-25 19:53] SirusCodes commented on #67
[code]

And that is not cliping the `StatelessWidget`s. Do we really need that clip?

[2021-03-25 20:22] iamSahdeep commented on #67
Gotcha, let's make it conditional, that touch issue is also cause of clip while getting backward gesture. It would take a bit time, I am occupied with something else these days.
If you want a quick fix in your fork.
- make [this](https://github.com/iamSahdeep/liquid_swipe_flutter/blob/b06ba74153ee037ed119f0d9aa78c2975c5b8337/lib/Clippers/WaveLayer.dart#L145) return 0
- and also make [this](https:/

[2021-03-26 05:53] SirusCodes commented on #67
Thanks a lot @iamSahdeep you are one of the amazing maintainers who puts in a lot of efforts on their project!!

[2021-04-01 17:37] iamSahdeep commented on #67
@SirusCodes Thanks  :)

added it in version [v2.0.2](https://pub.dev/packages/liquid_swipe/versions/2.0.2).

[2021-04-01 17:37] #67 closed

[2021-04-01 19:12] iamSahdeep commented on #66
@yeahse  Added the builder method to create page on a go dynamically just like listview.builder :)

In version : [v2.1.0](https://pub.dev/packages/liquid_swipe/versions/2.1.0)

For the suggestion, made it optional as well. look #67

[2021-04-01 19:12] #66 closed

[2021-05-05 13:35] LidorPrototype opened #68 "CheckboxListTile Gesture isn't working inside the liquid swipe widget"
I have a liquid swipe widget ( not builder ) that gets it's pages from `List<Widgets> pages` I populate it in the `initState `method,
everything is displaying correctly, also the CheckboxListTile is displayed right, but when I go to click on the CheckboxListTile  notihng happans, it's like the gesture of it gets disabled once it's in the liquid swipe.
I check my self and the same screen/widget tha

[2021-05-05 14:24] iamSahdeep commented on #68
@LidorPrototype Just tried you code. Seems to be working for me. Can you please provide minimal reproducible working example with everything you have. That would be helpful to repro this issue.

![Simulator Screen Shot - iPhone 12 Pro Max - 2021-05-05 at 19 52 36](https://user-images.githubusercontent.com/26563213/117156661-90941900-addb-11eb-837a-ab2774c4fa8e.png)
![Simulator Screen Shot - iPhone

[2021-05-05 14:33] LidorPrototype commented on #68
I have many containers, but the one with the `CheckboxListTile` is the one attached below.
few notes on it so it wont cause errors for you:
 - the outer_1.png `ImageAsset` is a background image I use for the `CheckboxListTile`
 - `timeDilation` is from: `import 'package:flutter/scheduler.dart' show timeDilation;`
 - all the `_checked_i` are defined above as: `bool? _checked_1 = false, _checked_2 =

[2021-05-06 19:52] iamSahdeep commented on #68
Just tried it, you code seems working for me :(

Gif below :
![ezgif com-gif-maker](https://user-images.githubusercontent.com/26563213/117357442-93256a00-aed2-11eb-8af9-300511f7a857.gif)

[2021-05-07 14:38] LidorPrototype commented on #68
That's so wired, I'll try to pin point what causes the problem for me, b/c in my app it wont clicked.
If I wont be able to find anything else to add here I will close the issue :(

[2021-05-07 14:54] LidorPrototype commented on #68
Can you show me how did you add this container to the liquid swipe pages?

[2021-05-07 15:01] iamSahdeep commented on #68
Here is the gist of the same code for above gif.
https://gist.github.com/iamSahdeep/fc40e8cd6531aba4e548b30592d9cce0

Do let me know If it works otherwise, If you can/want to share your complete code or can add me as collaborator to your repo, I could help through that as well.

[2021-05-07 15:07] LidorPrototype commented on #68
Ok, it did help, I init the pages in my `initState` method that's why it didn't work for some reason, when I change it to before the `build ` return statement, it works now, Thank you!

one other problem I saw now is that, I have 3 different pages, all of them with some input fields, but when I enter a data (as the user) to one of them, for example the first one in page 1, it changes in all pages

[2021-05-07 20:04] LidorPrototype commented on #68
yup you were right, any way thank you.
The solution for the problem I was having with the liquid swipe is that I needed to init the `pages ` in the `build ` method and not in my `initState ` method.

[2021-05-07 20:04] #68 closed

[2021-05-26 20:49] Beyga opened #69 "The IDE does not detect the package"
I am just adding the package to the pubspec.yaml, then running ```flutter pub get``` and I cannot use this package at all.

[code]

[2021-05-27 04:34] iamSahdeep commented on #69
Hi @Beyga. Seems like issue is not related to package. Can you try explicitly use import
`import 'package:liquid_swipe/liquid_swipe.dart';`

If this doesn't work.
Can you check pub cache if liquid_swipe folder exist in it.

[2021-05-28 10:06] gmanojisaac opened #70 "Not working for web"
The screen edges are not visible in chrome as well as mobile chrome browser

[2021-05-28 11:29] gmanojisaac commented on #70
Sorry Sahdeep .. it did not even compile for web

[2021-05-28 19:53] iamSahdeep commented on #70
@gmanojisaac Can you provide any more specific details. Example seems to be working fine on Web or even mac os. Pushed the updated example in master.

[2021-05-28 21:05] Beyga commented on #69
Something was wrong with the IDE. The complete restart solved the problem.

[2021-05-28 22:48] iamSahdeep commented on #69
Cool. Closing it then. 🙌

[2021-05-28 22:48] #69 closed

[2021-05-31 06:39] gmanojisaac commented on #70
Sahdeep sorry for responding late..
Please check my firebase hosted web app..https://bananabox-ee891.web.app/#/
It is not showing the side column at the left end where users will see the next slide color as a ribbon. It does not work only in web. So the design is not fully complete. can you share a link where it is working for web.

[2021-05-31 06:43] gmanojisaac commented on #70
![issue1](https://user-images.githubusercontent.com/16835712/120151180-937eff80-c209-11eb-87a5-5d3728488a37.jpg)

[2021-05-31 06:53] iamSahdeep commented on #70
Seems to be working just fine. Did you set `enableSideReveal` to `true` in attributes?
If yes can you post a minimal reproducible code?

<img width="452" alt="Screenshot 2021-05-31 at 12 20 13 PM" src="https://user-images.githubusercontent.com/26563213/120152069-a47c4080-c20a-11eb-94c0-529c8213d3ed.png">

[2021-05-31 08:53] gmanojisaac commented on #70
Working great for web..

Thanks a lot.. Please add this flag in the readme which will be of great help..

Sahdeep i am impressed by your community service.. I have a become a flutter fan after 2.2 .. Keep up your good work.. Please close this issue..

[2021-05-31 11:59] iamSahdeep commented on #70
@gmanojisaac Already there in Readme :) . Check the last attribute here https://github.com/iamSahdeep/liquid_swipe_flutter#liquidswipe

Not sure about 3d animations (If you can add it to a container or something ,then yes). Also use `builder` constructor for performance if using animations or long list of pages.

[2021-05-31 11:59] #70 closed

[2021-07-27 06:47] jaumard opened #73 "Null check operator used on a null value"
Not sure why/how I'm getting that. Just receive it on sentry.
[code]

I'm using flutter `Flutter (Channel stable, 2.2.3, on macOS 11.5 20G71 darwin-x64, locale fr-FR)` and `liquid_swipe: ^2.1.0`

[2021-07-27 09:30] andrezanna opened #74 "Weird behaviour when increasing fullTransitionValue"
Hello,
i've incremented fullTransitionValue to give a better animation for my purposes and disabled loop but this issue happens to me.
If I continue to swipe right the second page reveals sometimes.
I attach video and sample code.
Flutter 2.2.1
liquid_swipe: ^2.1.0

This page is opened trough Navigator.push if this can help.
`final pages=[Container(color: Colors.blue,),Container(color: Colors.gree

[2021-08-05 06:32] mordhawaj opened #75 "flat button is depriciated by textbutton so i used textbutton but it is not showing in the screen"
textbutton is not showing in the screen

[2021-08-05 06:47] #75 closed

[2021-08-05 06:48] mordhawaj commented on #75
hi!
i got the answer.

[2021-08-05 15:16] mordhawaj opened #76 "i want to hide "skip to end button" and "next button" in last page"
how to hide "skip to end" and "next" button from last page?

[2021-08-06 14:18] iamSahdeep commented on #75
cool 👍🏼

[2021-08-06 14:19] iamSahdeep commented on #76
Its just in the example, actually plugin implementation doesn't have these button but only methods. You see the example for more clarification.

[2021-08-06 14:19] #76 closed

[2021-08-06 14:20] iamSahdeep commented on #74
I'll check it soon.

[2021-08-06 14:21] iamSahdeep commented on #73
This is weird, I'll check this soon.

[2021-08-09 05:05] mordhawaj opened #77 "i am getting context error"
in last page container of final pages i had putted an elevated button and given onpressed route to login page.
but it is showing error "the instance member context cannot be accessed in an initialiser".
please suggest sir.
i had made this project with widget pages not itembuider.
i am new to dart and flutter.
btw I am a mechanical engineering graduate :0

import 'dart:math';
import 'package:fireba

[2021-08-30 22:15] amigax opened #78 "Starts with ugly gaps on either side"
Huge white gaps on either side, how to fix?

[2021-09-01 12:58] iamSahdeep commented on #78
I dont understand, Any reproducible code or Video would help to solve your problem.

[2021-09-01 14:11] amigax commented on #78
no worries I think just the screen wasnt wide enough, works ok with higher res images here.

[2021-09-01 14:11] #78 closed

[2021-09-01 14:16] iamSahdeep commented on #78
cool 🥇

[2021-09-01 14:41] iamSahdeep commented on #77
Though its not a LiquidSwipe Issue, its just you are using context outside build method. You might want to initialise pages in build method or you can try removing that Elevated button in Last Page.

[2021-09-01 14:41] #77 closed

[2021-09-02 07:14] InGuuuW opened #80 "Can it support autopaly?"
hellow

[2021-09-10 13:52] gustavo-perini opened #81 "Update dependencies"
Could you please update the dependencies?

[2021-09-10 18:12] iamSahdeep commented on #81
Sure thing for upcoming release. 👍🏼

[2021-09-10 18:14] iamSahdeep commented on #80
You can simply use Timer to jump to next page using LiquidController. But I have no plan to include this feature.
Thanks.

[2021-09-21 22:36] heshesh2010 commented on #81
reminder @iamSahdeep

[2021-09-23 17:09] #80 closed

[2021-09-23 17:16] #73 closed

[2021-09-23 17:16] #74 closed

[2021-09-23 17:17] iamSahdeep commented on #81
sorry for being late, pushed v2.1.1

[2021-09-23 17:17] #81 closed

[2021-09-23 17:18] andrezanna commented on #74
Many thanks

[2021-11-21 21:44] kevinomyonga commented on #78
@amigax @iamSahdeep I know this issue is closed but I found an alternative solution. One can simply specify a width in the Container widget of their page like so:

`Container(
      width: double.infinity,`

[2021-12-18 15:04] raunak-many-ac opened #82 "Flickering when swipe happens with lottie/gif animations on slides"
I have created certain slides with this package with each slide having a lottie animation.
When I slide from ith slide to i+1th a background flicker happens.

Please help us out. Thanks

[2021-12-21 20:26] iamSahdeep commented on #82
Hi @raunak-many-ac can you please share minimal reproducible code!

[2021-12-22 15:41] Pheonix0101 commented on #82
hi @iamSahdeep,
thanks for your response.

here is the repository that exhibits the issue please refer the link
https://github.com/Pheonix0101/dummy_app

Best regards

[2021-12-26 08:03] raunak-many-ac commented on #82
Hi @iamSahdeep,

We would like to follow up on any updates. If there are any please ping in this thread.

[2021-12-27 09:20] iamSahdeep commented on #82
Hi @raunak-many-ac Please give me some time, I am currently super busy and dont have access to my laptop. Will get back to as soon as possible. Sorry for the delay.

[2022-01-04 19:01] iamSahdeep commented on #82
@raunak-many-ac Sorry but I could not found any solution regrading this, Ill continue looking into it and will let you know about the solution if found anytime soon.
Seems like PageReveal widget internally is causing this flicker but the fact that, only Lottie Widget is flickering but not the entire screen, conflicts it.

[2022-01-05 01:21] raunak-many-ac commented on #82
@iamSahdeep thank you for your efforts please do let us know if found any solution.

[2022-03-21 11:34] Terranic opened #83 "Does not work well, when pages are scrollable (and are scrolled to a position other than top)"
Liquid Swipe does not seem to work well, wenn a page is scrollable:
The crossfade always shows the page from the very top (not scolled), however the actual page is already scrolled to the bottom.
However, after completing the swipe, the view jumps to the correct scrolled position.

[2022-03-24 16:37] iamSahdeep commented on #83
hi @Terranic Can you share any reproducible code, so I can help with that.

[2022-04-27 11:44] RoyalCoder88 commented on #82
Hi @raunak-many-ac did you find a solution for this issue? Thanks!

[2022-04-27 13:08] raunak-many-ac commented on #82
Hi @RoyalCoder88

I am not using the package now unfortunately...I an using traditional pageview.builder.

Will definitely move to this one, once its fixed.

Regards,
Raunak

[2022-04-29 01:23] kerby1998 commented on #83
Hi, i have the same issue

[2022-04-29 01:27] kerby1998 commented on #83
And i can't change disableUserGesture with a setstate

[2022-05-14 09:42] RoyalCoder88 opened #84 "Flutter 3.0.0 is detecting issue with the library"
../../../Documents/flutter/.pub-cache/hosted/pub.dartlang.org/liquid_swipe-2.1.1/lib/PageHelpers/page_dragger.dart:121:20: Warning: Operand of null-aware operation '!' has type 'WidgetsBinding' which excludes null.
 - 'WidgetsBinding' is from 'package:flutter/src/widgets/binding.dart' ('../../../Documents/flutter/packages/flutter/lib/src/widgets/binding.dart').
    WidgetsBinding.instance!.addPost

[2022-05-16 09:56] iamSahdeep commented on #84
Thanks @RoyalCoder88
It seems like a warning only, you can ignore it for now. I'll update it by upcoming weekend.

[2022-06-02 10:06] cyb3rsalih commented on #84
In debug mode warning is not annoying but I can't build for release either :(

[2022-06-03 14:51] MayankChopra12 commented on #83
@Terranic Hi, can I work on this issue

[2022-06-07 17:46] Soham-Rakhunde commented on #84
Is this fixed?

[2022-06-09 13:55] kerby1998 commented on #82
hi, for lottie or rive just modify your video to a transparent background.

someone else cannot use Slider() on container ?

[2022-06-09 13:56] kerby1998 opened #85 "I can't use Slider on a container"
Hi, i cannot use a Slider on a container/page and i don't know why

[2022-06-09 14:53] raunak-many-ac commented on #82
Hi @iamSahdeep ,

Let use know if we have any updates.

[2022-06-30 09:14] jaumard commented on #84
@iamSahdeep any news on this please?

[2022-06-30 13:06] iamSahdeep commented on #85
Can you provide more information please? reproducible code or anything.

[2022-06-30 13:55] jaumard commented on #84
All good thanks a lot @iamSahdeep for your work!

[2022-07-11 19:08] #84 closed

[2022-11-23 00:47] Samarth-geek commented on #82
any updates>?

[2022-11-23 01:18] kerby1998 commented on #82
Yes, you just have to unable loop

Le mar. 22 nov. 2022, 19 h 48, Samarth-geek ***@***.***> a
écrit :